.info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card-style {
  overflow: scroll;
  height: 95%;
  width: 95%;
}

.button-single {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}
