


<ngb-toast
  class="bg-success text-light position-fixed top-0 end-0 p-3"
  style="z-index: 1200;"
  *ngFor="let toast of getTosts()"
  [header]="toast.header" [autohide]="true" [delay]="toast.delay || 3000"
  (hiddden)="removeToast(toast)"
>{{toast.body}}</ngb-toast>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">3D Prints</h2>
  <h5>Total Creates: {{getTotalCreates()}}</h5>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

    <div class="col" *ngFor="let print of threeDPrints">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" [style]="getCardImage(print)"
      matRipple [matRippleCentered]="true" matRippleColor="rgb(121, 50, 168, 0.25)" [matRippleTrigger]="trigger">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 display-6 lh-1 fw-bold">{{print.name}}</h2>
          <hr class="m-0" >
          <h5>{{print.printerName}}</h5>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <h5 class="mt-4" [matBadge]="print.creates" matBadgePosition="after" matBadgeColor="primary" matBadgeSize="medium">Creates:  </h5>
            </li>
            <li class="d-flex align-items-center me-3">
              <small><a class="text-decoration-none text-white" target="_blank" [href]="print.stlFileUrl">STL</a></small>
            </li>
            <div #trigger>
              <button #trigger mat-raised-button color="primary" [routerLink]="['/prints/' + print.id]">View me</button>
            </div>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



